header{
margin:5px;
 
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: start;
    text-decoration-color: black;
    font-size: 36pt;
    margin-left: 25px;
}
cite{
margin: 25px;
padding: 5px;
width:100%;

}


    
